.header{
    display:flex;
    align-items:center;
    background-color:rgb(88, 96, 105);
    color: white;
}

.header > h2{
    margin:20px;
}
.header > h2 > a{
    color:white;
    text-decoration:none
}

.header__nav > a{
    color:white;
    margin-right:20px;
    text-decoration:none;
}

.header__nav > a:hover{
    text-decoration: underline
}